.navbar {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #015bc2;
}

.navbar h1 {
  font-size: 3rem;
}

.navbar a {
  text-decoration: none;
  color: white;
}

.navbar ul {
  margin: .5rem;
  background: #006de9;
}

.navbar li {
  margin: 1rem;
  list-style: none;
  display: inline-block;
}