{% load static i18n %}

<!DOCTYPE html>
<html lang="{% translate 'en' %}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'shared/css/layout.css' %}" />
    <link rel="stylesheet" href="{% static 'shared/css/navbar.css' %}" />
    <link 
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    {% block css %}{% endblock %}
    <title>
      {% block title %}{% endblock %} - Friendly Notes
    </title>
  </head>
  <body>
    {% include 'shared/navbar.html' %}
    <main class="container">
      {% block content %}{% endblock %}
    </main>
    <footer>
      {% translate 'This website on <a href="//github.com/karmek-k/friendly-notes">GitHub</a>' %}
    </footer>
  </body>
</html>
