{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link 
      rel="stylesheet"
      href="{% static 'shared/css/layout.css' %}"
    />
    <link 
      rel="stylesheet"
      href="{% static 'shared/css/navbar.css' %}"
    />
    <title>
      {% block title %}{% endblock %} - Friendly Notes
    </title>
  </head>
  <body>
    {% include 'shared/navbar.html' %}
    <main class="container">
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
