{% extends 'shared/layout.html' %}
{% load static i18n pygmentify_tags %}

{% block title %}
{{ object.title }}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'note/css/textarea.css' %}" />
<link rel="stylesheet" href="{% pygmentify_css %}" />
{% endblock %}

{% block content %}
<h2>{{ object.title }}</h2>
<i>{% translate 'Created on' %} {{ object.date | date }}</i>
<br />

{% pygmentify %}
<pre lang="{{ object.language }}">
  {{ object.content }}
</pre>
{% endpygmentify %}

{% endblock %}
