{% extends 'shared/layout.html' %}
{% load static i18n %}

{% block title %}
{% translate 'Index' %}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'note/css/index.css' %}" />
{% endblock %}

{% block content %}
<h2>
  {% translate 'Welcome to Friendly Notes!' %}
</h2>
<p>
  {% blocktranslate %}
  This is an anonymous service that lets you paste 
  and share code / text. These pastes are called <b>notes</b>.
  {% endblocktranslate %}
</p>
<p>
  {% translate 'Above you can see three links:' %}
  <ol class="index-list">
    <li>
      {% translate 'Main Page' %} - {% translate "the page you're currently reading." %}
    </li>
    <li>
      {% translate 'Add a Note' %} - {% translate 'here you can, well, add a note.' %}
    </li>
    <li>
      {% translate 'Random Note' %} - {% translate 'a random note that has been posted.' %}
    </li>
  </ol>
</p>
<p>
  {% blocktranslate %}
  Possibly, there will be a REST API in the future, so that
  you'll be able to add notes without even visiting this site.
  {% endblocktranslate %}
</p>
{% endblock %}